<div class="simulation" fxLayout="column">
  <div class="simulation-header" fxFlex="50px" fxLayoutAlign="center center">
    Simulação
  </div>
  <div
    class="simulation-body"
    fxLayout.gt-md="row"
    fxLayout.sm="row"
    fxLayout.lt-sm="column"
    fxLayoutGap="20px"
    fxLayoutAlign="space-between center"
  >
    <div class="card" fxLayout="column">
      <div class="card-title" fxFlex="50px">Posição total</div>
      <div class="card-value">1000,00</div>
    </div>

    <div class="card" fxLayout="column">
      <div class="card-title" fxFlex="50px">Caso alvo</div>
      <div class="card-value positive">+1000,00</div>
      <div class="card-percent">Lucro: <span>8,0%</span></div>
    </div>

    <div class="card" fxLayout="column">
      <div class="card-title" fxFlex="50px">Caso stop</div>
      <div class="card-value negative">-1000,00</div>
      <div class="card-percent">Prejuízo: <span>4,0%</span></div>
    </div>
  </div>
</div>
