<div class="simulation" fxLayout="column">
  <div class="simulation-header" fxFlex="50px" fxLayoutAlign="center center">
    Simulação
  </div>
  <div
    class="simulation-body"
    fxLayout.gt-md="row"
    fxLayout.sm="row"
    fxLayout.lt-sm="column"
    fxLayoutGap="20px"
    fxLayoutAlign="space-between center"
  >
    <div class="card" fxLayout="column">
      <div class="card-title" fxFlex="50px">Posição total</div>
      <div *ngIf="!this.isLoadingOperationResults" class="card-value">
        <span>R$ </span>{{ this.operationResults.totalPosition | currency: 2 : 2 : false}}
      </div>
      <p-skeleton
        *ngIf="this.isLoadingOperationResults"
        fxLayoutAlign="center center"
        width="200px"
        height="70px"
        borderRadius="16px"
      ></p-skeleton>
    </div>

    <div class="card" fxLayout="column">
      <div class="card-title" fxFlex="50px">Caso alvo (R$)</div>
      <div *ngIf="!this.isLoadingOperationResults" class="card-value positive">
        {{ this.operationResults.profitValue | currency: 2 : 2 : true }}
      </div>
      <div *ngIf="!this.isLoadingOperationResults" class="card-percent">
        Lucro: <span>{{ this.operationResults.profitPercent | percent: 1 : true }}</span>
      </div>
      <p-skeleton
        *ngIf="this.isLoadingOperationResults"
        fxLayoutAlign="center center"
        width="200px"
        height="70px"
        borderRadius="16px"
      ></p-skeleton>
    </div>

    <div class="card" fxLayout="column">
      <div class="card-title" fxFlex="50px">Caso stop (RS)</div>
      <div *ngIf="!this.isLoadingOperationResults" class="card-value negative">
        {{ this.operationResults.lossValue | currency: 2 : 2 : true }}
      </div>
      <div *ngIf="!this.isLoadingOperationResults" class="card-percent">
        Prejuízo: <span>{{ this.operationResults.lossPercent | percent: 1 : true }}</span>
      </div>
      <p-skeleton
        *ngIf="this.isLoadingOperationResults"
        fxLayoutAlign="center center"
        width="200px"
        height="70px"
        borderRadius="16px"
      ></p-skeleton>
    </div>
  </div>
</div>
