/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --main-bg-color: #24313E;
    --white-grey: #FDFEFF;
    --color-1: #3D4861;
    --color-2: #30425A;
    --color-3: #00BBD8;
    --color-4: #02adc7;
    --color-5 : #65738D;
    --positive-text: #AEF1A3;
    --negative-text: #F1A3BA;
  }

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-bg-color);
    color: var(--white-grey);
}

::placeholder {
    color: var(--white-grey);
    opacity: 0.5;
  }

/* SKELETON */
.p-skeleton:after {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0));
}