/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../node_modules/primeicons/primeicons.css';

:root {
    --main-bg-color: #1e2128;
    --white-grey: #e3e6f1;
    --color-1: #343746;
    --color-2: #242632;
    --color-3: #6158e7;
    --color-4: #6c63e4;
    --color-5 : #4e5368;
    --positive-text: #AEF1A3;
    --negative-text: #F1A3BA;
    --positive: #17d640;
    --negative: #ff4070;
  }

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-bg-color);
    color: var(--white-grey);
}

::placeholder {
    color: var(--white-grey);
    opacity: 0.5;
  }

/* SKELETON */
.p-skeleton:after {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0));
}