/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #24313e;
    color: #e5e8ec;
}