.calc{
    position: relative;
    display: flex;
    background-color: #3c4962;
    border-radius: 16px;
    width: 370px;
    height: 100%;

}

.calc header{
    display: flex;
    background-color: #31425a;
    border-radius: 16px 16px 0 0;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.calc header :nth-child(1){
    font-weight: 300;
}

.calc header :nth-child(2){
    font-weight: 700;
}

.calc-body{
    padding: 20px;
    padding-top: 30px;
}

.calc-body label{
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 3px;
}

.calc-body input{
    width: 150px;
    height: 30px;
    border: 0;
    border-radius: 5px;

    font-size: 14px;
    color: #2b364c;
    background: #e5e8ec;

    padding: 0.5rem 0.5rem;
}

.calc-body label span{
    position: relative;
    bottom: 2px;
    font-size: 11px;
    font-weight: 400;
}

.calc-body .stop span{
    color: #FF99B0;
}

.alvo span{
    color: #25CD7C;
}

.button-calc{
    margin-top: 20px;
    width: 100%;
    height: 45px;
    border: 0;
    color: #f7fcfd;
    background: #26b5c5;
    border-radius: 0 0 15px 15px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: .1s;
}

.button-calc:hover{
    background-color: #73CCD6;
}

/* RESULTS */

.results{
    position: relative;
    display: flex;
    background-color: #3c4962;
    border-radius: 16px;
    width: 370px;
    height: 100%;
    padding-bottom: 20px;
    text-align: center;
}

.results header{
    display: flex;
    background-color: #31425a;
    border-radius: 16px 16px 0 0;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.results header :nth-child(1){
    font-weight: 300;
}

.results label{
    font-size: 16px;
    font-weight: 300;
}

.results-body{
    padding-top: 10px;
}

.case-title{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.position-value{
    padding: 10px;
}

.case-alvo{
    padding: 10px;
    background-color: rgba(37, 205, 124, 0.25);
}

.case-stop{
    padding: 10px;
    background-color: rgba(255, 153, 177, 0.25);
}
