<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="30px">
  <!-- TRADE CALC -->

  <div class="calc" fxLayout="column">
    <header>
      <span>Trade</span>
      <span>Calc</span>
    </header>

    <div class="calc-body" fxLayout="column" fxLayoutGap="15px">
      <div
        fxLayout="row"
        fxLayoutGap="30px"
        fxLayoutAlign="space-between center"
      >
        <div fxLayout="column">
          <label>Quantidade</label>
          <input type="text" />
        </div>
        <div fxLayout="column">
          <label>Entrada <span>(R$)</span></label>
          <input type="text" />
        </div>
      </div>

      <div
        fxLayout="row"
        fxLayoutGap="30px"
        fxLayoutAlign="space-between center"
      >
        <div fxLayout="column">
          <label class="alvo">Alvo <span>(R$)</span></label>
          <input type="text" />
        </div>
        <div fxLayout="column">
          <label class="stop">Stop <span>(R$)</span></label>
          <input type="text" />
        </div>
      </div>
    </div>

    <button class="button-calc">Calcular</button>
  </div>

  <!-- RESULTS -->

  <div class="results" fxLayout="column">
    <header>
      <span>Results</span>
    </header>

    <div class="results-body" fxLayout="column" fxLayoutGap="15px">
      <div fxLayout="column" class="position-value">
        <label>Valor total da posição</label>
        <div>R$ 00,00</div>
      </div>

      <div fxLayout="column" class="case-alvo">
        <div class="case-title">Caso Alvo</div>
        <label>Lucro</label>
        <div>R$ 00,00 <span>(0%)</span></div>
      </div>

      <div fxLayout="column" class="case-stop">
        <div class="case-title">Caso Stop</div>
        <label>Risco</label>
        <div>R$ 00,00 <span>(0%)</span></div>
      </div>
    </div>
  </div>
</div>
